<!-- stats for event -->
<h1> <%= event_name %> </h1>

<p>
  Requests by hour
</p>
<ul>
  <% hours.each_pair do |hour, count|  %>
  <li> Hour <%=hour%>: <%= count %> count(s) </li>
  <% end %>
</ul>

<p>
  Number of times event was received
</p>
<%= count_for_event %>
